In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("PreprocessedBank.csv")

In [3]:
data.head()

,Unnamed: 0,age,default,balance,housing,loan,day,duration,campaign,pdays,...,jun,mar,may,nov,oct,sep,failure,success,unknown,deposit
0,0,59,1,2343,0,1,5,1042,1,-1,...,0,0,1,0,0,0,0,0,1,1
1,1,56,1,45,1,1,5,1467,1,-1,...,0,0,1,0,0,0,0,0,1,1
2,2,41,1,1270,0,1,5,1389,1,-1,...,0,0,1,0,0,0,0,0,1,1
3,3,55,1,2476,0,1,5,579,1,-1,...,0,0,1,0,0,0,0,0,1,1
4,4,54,1,184,1,1,5,673,2,-1,...,0,0,1,0,0,0,0,0,1,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 44 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     11162 non-null  int64
 1   age            11162 non-null  int64
 2   default        11162 non-null  int64
 3   balance        11162 non-null  int64
 4   housing        11162 non-null  int64
 5   loan           11162 non-null  int64
 6   day            11162 non-null  int64
 7   duration       11162 non-null  int64
 8   campaign       11162 non-null  int64
 9   pdays          11162 non-null  int64
 10  previous       11162 non-null  int64
 11  married        11162 non-null  int64
 12  single         11162 non-null  int64
 13  primary        11162 non-null  int64
 14  secondary      11162 non-null  int64
 15  tertiary       11162 non-null  int64
 16  admin.         11162 non-null  int64
 17  blue-collar    11162 non-null  int64
 18  entrepreneur   11162 non-null  int64
 19  housemaid      11162 non-null  int64
 20  management     11162 non-null  int64
 21  retired        11162 non-null  int64
 22  self-employed  11162 non-null  int64
 23  services       11162 non-null  int64
 24  student        11162 non-null  int64
 25  technician     11162 non-null  int64
 26  unemployed     11162 non-null  int64
 27  cellular       11162 non-null  int64
 28  telephone      11162 non-null  int64
 29  apr            11162 non-null  int64
 30  aug            11162 non-null  int64
 31  feb            11162 non-null  int64
 32  jan            11162 non-null  int64
 33  jul            11162 non-null  int64
 34  jun            11162 non-null  int64
 35  mar            11162 non-null  int64
 36  may            11162 non-null  int64
 37  nov            11162 non-null  int64
 38  oct            11162 non-null  int64
 39  sep            11162 non-null  int64
 40  failure        11162 non-null  int64
 41  success        11162 non-null  int64
 42  unknown        11162 non-null  int64
 43  deposit        11162 non-null  int64
dtypes: int64(44)
memory usage: 3.7 MB

In [6]:
X=data.drop("deposit",axis=1)
X

,Unnamed: 0,age,default,balance,housing,loan,day,duration,campaign,pdays,...,jul,jun,mar,may,nov,oct,sep,failure,success,unknown
0,0,59,1,2343,0,1,5,1042,1,-1,...,0,0,0,1,0,0,0,0,0,1
1,1,56,1,45,1,1,5,1467,1,-1,...,0,0,0,1,0,0,0,0,0,1
2,2,41,1,1270,0,1,5,1389,1,-1,...,0,0,0,1,0,0,0,0,0,1
3,3,55,1,2476,0,1,5,579,1,-1,...,0,0,0,1,0,0,0,0,0,1
4,4,54,1,184,1,1,5,673,2,-1,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,11157,33,1,1,0,1,20,257,1,-1,...,0,0,0,0,0,0,0,0,0,1
11158,11158,39,1,733,1,1,16,83,4,-1,...,0,1,0,0,0,0,0,0,0,1
11159,11159,32,1,29,1,1,19,156,2,-1,...,0,0,0,0,0,0,0,0,0,1
11160,11160,43,1,0,1,0,8,9,2,172,...,0,0,0,1,0,0,0,1,0,0
11161,11161,34,1,0,1,1,9,628,1,-1,...,1,0,0,0,0,0,0,0,0,1

In [7]:
y=data.deposit
y

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: deposit, Length: 11162, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [9]:
from sklearn.linear_model import LogisticRegression
classifer=LogisticRegression()

In [10]:
classifer.fit(X_train,y_train)

C:\Users\SAJID\.jupyter\anaconda.installed\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [11]:
y_train_pred=classifer.predict(X_train)

In [12]:
pd.DataFrame({"Orfinal":y_train,"Predicted":y_train_pred})

       Orfinal  Predicted
3916         1          1
8346         0          0
8303         0          0
3900         1          0
8325         0          0
...        ...        ...
4859         1          1
3264         1          1
9845         0          0
10799        0          0
2732         1          1

[8371 rows x 2 columns]

In [13]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train,y_train_pred))

0.9589057460279536

In [14]:
from sklearn.metrics import classification_report
print(classification_report(y_train,y_train_pred))

              precision    recall  f1-score   support

           0       0.95      0.97      0.96      4370
           1       0.97      0.95      0.96      4001

    accuracy                           0.96      8371
   macro avg       0.96      0.96      0.96      8371
weighted avg       0.96      0.96      0.96      8371

In [15]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_train,y_train_pred))

[[4236  134]
 [ 210 3791]]

#  prediction on Test data

In [16]:
y_test_pred=classifer.predict(X_test)

In [17]:
pd.DataFrame({"orginal":y_test,"predicted":y_test_pred})

      orginal  predicted
9058        0          0
3279        1          1
6502        0          0
9327        0          0
9965        0          0
...       ...        ...
5271        1          1
281         1          1
9190        0          0
8547        0          0
7077        0          0

[2791 rows x 2 columns]

In [18]:
print(accuracy_score(y_test,y_test_pred))

0.9555714797563597

In [19]:
print(classification_report(y_test,y_test_pred))

              precision    recall  f1-score   support

           0       0.95      0.97      0.96      1503
           1       0.97      0.93      0.95      1288

    accuracy                           0.96      2791
   macro avg       0.96      0.95      0.96      2791
weighted avg       0.96      0.96      0.96      2791

In [20]:
print(confusion_matrix(y_test,y_test_pred))

[[1463   40]
 [  84 1204]]

In [26]:
from sklearn.metrics import recall_score,precision_score,f1_score

In [27]:
print(accuracy_score(y_test,y_test_pred))
print(recall_score(y_test,y_test_pred))
print(precision_score(y_test,y_test_pred))
print(f1_score(y_test,y_test_pred))

0.9555714797563597
0.9347826086956522
0.9678456591639871
0.9510268562401264